


/* start navbar */
 .discount-link{
    color:white;
    background-color: #fbb710;
    font-size: 19px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.discount-link:hover{
    background-color: black;

}

.navbar .nav-links li .nav-link{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    position: relative;
}

.navbar .nav-links li .nav-link.active::before,
.navbar .nav-links li .nav-link::before{
    content: '';
    position: absolute;
    top: 12px;
    left: -48px;
    background-color: #fbb710;
    width: 0;
    height: 3px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.navbar .nav-links li .nav-link.active::before{
    width: 40px;
    height: 3px;


}

.navbar .nav-links li .nav-link:hover{
    color: #fbb710;
}

.navbar .nav-links li .nav-link:hover::before{
     width: 40px;

}


.black-link{
    background-color: black;
    color: white;
    font-size: 19px;
}


.spesific-links li a{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    color: black;
      font-weight: 500;
        font-size: 19px;
      
}

.spesific-links li a:hover{
    color: #fbb710;
}


.social li a i{
    color: black;
    opacity: .5;
    transition:.4s ;
    -webkit-transition:.4s ;
    -moz-transition:.4s ;
    -ms-transition:.4s ;
    -o-transition:.4s ;   
    font-size: 20px;
}

.social li a:hover i{
    color: #fbb710;
}


.header .image-holder{
    position: relative;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}



.header .image-holder .text{
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 40px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.header .image-holder::before{
    content: '';
    position: absolute;
    width: 100%;
    height:0;
    background-color: rgba(0, 0, 0, 0.378);
    z-index: 1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.header .image-holder:hover::before{

    height: 100% !important;

}

.header .image-holder .text span{
     transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;

}

.header .image-holder:hover .text,
.header .image-holder:hover .text span{
    color: white !important;
}

.header .image-holder .text::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #fbb710;
    width:75px;
    height: 3px;
}



/* start navbar */