

.bg-shop-secondry{
    background-color: #f5f7fa;
}


.large{
    font-size: 17px;
}


.bg-main-color{
    background-color: #fbb710;
}


.main-hover{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    cursor: pointer;
}


.main-hover:hover{
    color: #fbb710 !important;
}


.width-40{

    width: 30px;
}

.height-40{

    height: 30px;
}


.fit-content{
    width: fit-content;
}


.cursor-pointer{
    cursor: pointer;
}

.shop-header .form-select:focus{
    box-shadow: 0 0 0 0 ;
}



.special-span{
    position: relative;
}




.special-span::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #fbb710;
    width: 90px;
    height: 4px;

}


.popup{
     position:relative;
}


.popup span{
    position: absolute;
    width: 100px;
    background-color: black;
    color: white;
    left: -110px;
    top: 3px;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
        opacity: 0;
        z-index: -1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    pointer-events: none;
}

.popup span::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent black;
    width: 100%;
    height: 4px;
    top: 6px;
    right: -98px;
}


.popup:hover span{
    opacity: 1;
    z-index: 1;
}